.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  height: 100vh;
  width: 100vw;
  /* min-height: 100vh; */
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-bottom: 2px darkgray;
  height: 50px;
  gap: 0.5rem;
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: left;
  gap: 0.5rem;
}

.editorinput {
  /* height: 500px */
}

.editorarea {
  display: flex;
  flex-direction: row;
}

.tokenoutput {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  line-height: 1.3;
}

.token {
  border-radius: 3px;
  background-color: #def2e4;
  line-height: 1.2;
}

.tokenbad {
  border-radius: 3px;
  background-color: #f4aeae;
  line-height: 1.2;
}
.token:hover {
  border-radius: 3px;
  background-color: #b2d5e5;
}

.tokenbad:hover {
  border-radius: 3px;
  background-color: #f27777;
}

/* https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 8px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 0%;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 4px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}
